.Background_Container {
  width: 100vw;
  height: 508px;  
  overflow: hidden;
  position: relative;
}
.Background_Container img {/*
  width: 804.8px;
  height: 410.8px;  
  margin-top: 97.2px;
  margin-left: auto;
  margin-right: auto;*/
  position: absolute;
  width: 60%;
  /* height: 100%; */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

/*  background: #fff url(./asset/bg.png) 50% 100% no-repeat;
  background-image: url(./asset/bg.png);
  background-position-x: 50%;
  background-position-y: 100%;
  width: 804.8px;
  height: 410.8px;  
  background-size: initial;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  background-size: 924px auto;*/
}
