.Header {
  width: 100vw;
  height: 72px;
  box-sizing: border-box;
  align-items: center;
  background: #f7323f;
}
.Header section{
  position:relative;
  display: flex;
  width:1024px;
  height:64px;
  margin: 0px auto;
}
.Header section ul{
  display: inline-block;
  position: absolute;
  top:26px;
  right:31px;
}
.Header section li{
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin-left: 30px;
  vertical-align: top;
  color: rgba(255,255,255,0.8);
}
.Header section h1{
  position:absolute;
  top: 20px;
  left: 31px;
  height: 20px;
  margin: 0;
  display: flex;
  float:left;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
}