.Recommends_Container {
  width: 962px;
  height: 250px;
  padding: 78px 31px 0px 31px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}

.Recommends_Container li {
  width: 473px;
  height: 162px;
  margin-bottom: 16;
  overflow: hidden;
  float: left;
  position: relative;
  padding-right: 24px;
  padding-left: 186px;
  border: 1px solid rgba(0,0,0,0.08);
  box-sizing: border-box;
}

.Recommends_Container li:nth-child(odd){
  margin-left: 16px;
}

.Recommends_Container li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 162px;
  height: 162px;
}

.Recommends_Container li strong {
  display: block;
  padding: 38px 0 14px 0;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  color: rgb(0,121,107);
}
.Recommends_Container h2{
  font-size: 22px;
  margin-bottom: 35px;    
  color: rgba(0,0,0,0.87);
  font-weight: bold;
}